@import "tailwindcss";

@font-face {
    font-family: 'OkDandan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/OkDanDan-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@theme {
  --font-sans: "OkDandan", "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#FDFCF0] text-[#4A4A4A];
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#FFD93D] rounded-full border-4 border-[#FDFCF0];
}
